:root {
  --color-primary: #76fb4c;
  --color-secondary: #040d21;
  --color-tertiary: #8193b2;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  font-family: Tourney, sans-serif;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: inherit;
}

input {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-size: 36px;
  border: 2px solid var(--color-primary);
  margin: 4px;
  padding: 8px;
  text-align: center;
  outline: none;
}

input[type="text"] {
  letter-spacing: 4px;
}

input[type="text"]::placeholder {
  color: var(--color-tertiary);
}

input[type="submit"] {
  cursor: pointer;
}

output {
  font-size: 72px;
}

form div {
  margin: 36px auto;
}
